@model TrabajoFinalWeb.Models.ModoDePago

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ModoDePago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
