@{
    ViewBag.Title = "Contáctanos";
}

<hr />
<h2>@ViewBag.Title</h2>
<hr />
<address>
    AirShop<br />
    Medellín, Colombia<br />
    <abbr title="Phone">P:</abbr>
    321 808 07 58
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Soporte@airshop.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@airshop.com</a>
</address>