@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE HTML>
<!--
    Hielo by TEMPLATED
    templated.co templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<body>

    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="~/images/slide01.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Grandes marcas</p>
                    <h2>RESPALDO</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide02.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Garantia y tratectoría</p>
                    <h2>CONFIANZA</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide03.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Instalación y mantenimiento</p>
                    <h2>DISEÑO</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide04.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Calidad en nuestro trabajo</p>
                    <h2>COMPROMISO</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide05.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Donde todos salen</p>
                    <h2>SATISFECHOS</h2>
                </header>
            </div>
        </article>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="~/images/1.jpg" alt="" width="10" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>nuestros ventas y servicios</p>
                                <h2>Asesores profesionales</h2>
                            </header>
                            <p>Disfruta de un ambiente fresco, tranquilo, protegido de virus y bacterias en tu hogar con los Aires Acondicionados que Multiaires tiene para tí. </p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Ver más</a>
                            </footer>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="~/images/2.jpg" alt="" width="50" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Compromiso y pasion</p>
                                <h2>Calidad y excelente servicio
                                </h2>
                            </header>
                            <p>Cuida tu inversión con una instalación respaldada, confiable y segura.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Ver más</a>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>No te pierdas la oportunidad</p>
                <h2>y ven a probar nuestra comida</h2>
            </header>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                <p class="special">cada pedido es especial para nosotros</p>
                <h2>por eso los clientes vuelven</h2>
            </header>

        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Air Shop. All rights reserved.
        </div>
    </footer>
</body>
</html>